In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("castle-solutions.csv")

In [3]:
df1.shape

(1387, 11)

In [4]:
df2 = pd.read_csv("castle-solutions-2.csv")

In [5]:
df2.shape

(932, 11)

In [35]:
df = df1.append(df2,ignore_index=True)
df.shape

(2319, 11)

In [7]:
df.head()

,Castle 1,Castle 2,Castle 3,Castle 4,Castle 5,Castle 6,Castle 7,Castle 8,Castle 9,Castle 10,Why did you choose your troop deployment?
0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"because, I am number one!"
1,52.0,2.0,2.0,2.0,2.0,2.0,2.0,12.0,12.0,12.0,I need to win at least 4 castles to win the ga...
2,26.0,26.0,26.0,16.0,1.0,1.0,1.0,1.0,1.0,1.0,The top 3 are necessary for a majority and the...
3,26.0,5.0,5.0,5.0,6.0,7.0,26.0,0.0,0.0,0.0,"Most people will focus on high number, but cas..."
4,25.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,25.0,25.0,"The total points up for grabs is 55, and to wi..."

In [8]:
# initialize matrix of 0's
# dimensions must be nxn, where n = 2319, or the number of castles
win_matrix = np.zeros((2319,2319),dtype=int)

In [40]:
# function that takes in two castles
# returns 1 if castle 1 wins
# returns 0 if castle 1 loses

def win(castle_1, castle_2):
    points_1 = 0
    points_2 = 0
    for i in range(0,len(castle_1)-1):
        if (points_1)>=20:
            return 1 
        if (points_2)>=20:
            return 0
        
        if(castle_1[i]>castle_2[i]):
            points_1 += i
        elif(castle_1[i]<castle_2[i]):
            points_2+=i
        else:
            continue
    
    if (points_1>points_2):
        return 1
    return 0

In [44]:
for ind, row in df.iterrows():
    castle = row.tolist()
    for index, rows in df.iterrows():
        castle_compare = rows.tolist()
        score = win(castle,castle_compare)
        win_matrix[ind][index] = score

In [61]:
print(np.sum(win_matrix[3]))

253

In [56]:
# finding high scores

d = {}
ind = 0
for row in win_matrix:
    score = np.sum(row)
    if ind not in d:
        d[ind] = 0
    d[ind] = score
    ind+=1

In [63]:
sorted_dict = sorted(d.items(), key=lambda kv: kv[1], reverse=True)

In [67]:
for i in range(10):
    print(sorted_dict[i])

(1337, 2186)
(1336, 2161)
(1272, 2103)
(1998, 2006)
(1271, 1946)
(1992, 1937)
(1574, 1934)
(920, 1931)
(1820, 1921)
(1458, 1916)

In [82]:
# Top 1
print(df.iloc[1337],d[1337])

Castle 1                                                                                     0
Castle 2                                                                                     0
Castle 3                                                                                     0
Castle 4                                                                                     0
Castle 5                                                                                     0
Castle 6                                                                                    26
Castle 7                                                                                     0
Castle 8                                                                                    35
Castle 9                                                                                    39
Castle 10                                                                                    0
Why did you choose your troop deployment?    Winning by higher margins is useless in this g...
Name: 1337, dtype: object 2186

In [83]:
print(df.iloc[1336],d[1336])

Castle 1                                                                                     0
Castle 2                                                                                     0
Castle 3                                                                                     0
Castle 4                                                                                     0
Castle 5                                                                                     0
Castle 6                                                                                    29
Castle 7                                                                                     0
Castle 8                                                                                    34
Castle 9                                                                                    37
Castle 10                                                                                    0
Why did you choose your troop deployment?    55 points total. 23 points to win. In order to...
Name: 1336, dtype: object 2161

In [84]:
print(df.iloc[1272],d[1272])

Castle 1                                                                                     0
Castle 2                                                                                     0
Castle 3                                                                                     0
Castle 4                                                                                     2
Castle 5                                                                                     0
Castle 6                                                                                     0
Castle 7                                                                                    28
Castle 8                                                                                    34
Castle 9                                                                                    34
Castle 10                                                                                    2
Why did you choose your troop deployment?    28 out of 55 points are required to win (it's ...
Name: 1272, dtype: object 2103

In [73]:
print(df.iloc[1998])

Castle 1                                                                                     0
Castle 2                                                                                     0
Castle 3                                                                                     2
Castle 4                                                                                    12
Castle 5                                                                                    15
Castle 6                                                                                     3
Castle 7                                                                                    28
Castle 8                                                                                    32
Castle 9                                                                                     4
Castle 10                                                                                    4
Why did you choose your troop deployment?    Two above all winning deployments from last ti...
Name: 1998, dtype: object

In [74]:
print(df.iloc[1271])

Castle 1                                                                                     0
Castle 2                                                                                     0
Castle 3                                                                                     0
Castle 4                                                                                     2
Castle 5                                                                                     2
Castle 6                                                                                     2
Castle 7                                                                                    30
Castle 8                                                                                    30
Castle 9                                                                                    32
Castle 10                                                                                    2
Why did you choose your troop deployment?    Get 9/7/8 and then hope the 2 on some other ca...
Name: 1271, dtype: object

In [75]:
print(df.iloc[1992])

Castle 1                                                                                     0
Castle 2                                                                                     3
Castle 3                                                                                     2
Castle 4                                                                                    11
Castle 5                                                                                    14
Castle 6                                                                                     2
Castle 7                                                                                    28
Castle 8                                                                                    32
Castle 9                                                                                     4
Castle 10                                                                                    4
Why did you choose your troop deployment?    Try to win a few key castles without losing to...
Name: 1992, dtype: object

In [76]:
print(df.iloc[1574])

Castle 1                                                                                     1
Castle 2                                                                                     1
Castle 3                                                                                     8
Castle 4                                                                                    13
Castle 5                                                                                    15
Castle 6                                                                                    21
Castle 7                                                                                    23
Castle 8                                                                                     6
Castle 9                                                                                     6
Castle 10                                                                                    6
Why did you choose your troop deployment?    Because I wanted to win. Also, a modified depl...
Name: 1574, dtype: object

In [77]:
print(df.iloc[920])

Castle 1                                                                                     1
Castle 2                                                                                     1
Castle 3                                                                                     1
Castle 4                                                                                     1
Castle 5                                                                                     1
Castle 6                                                                                     1
Castle 7                                                                                    31
Castle 8                                                                                    31
Castle 9                                                                                    31
Castle 10                                                                                    1
Why did you choose your troop deployment?    Always have at least 1 at each castle to claim...
Name: 920, dtype: object

In [78]:
print(df.iloc[1820])

Castle 1                                                                                     0
Castle 2                                                                                     0
Castle 3                                                                                     2
Castle 4                                                                                     2
Castle 5                                                                                    11
Castle 6                                                                                    21
Castle 7                                                                                     3
Castle 8                                                                                    31
Castle 9                                                                                    26
Castle 10                                                                                    4
Why did you choose your troop deployment?    Brute force computation finding a deployment t...
Name: 1820, dtype: object

In [79]:
print(df.iloc[1458])

Castle 1                                                                                     0
Castle 2                                                                                     2
Castle 3                                                                                     3
Castle 4                                                                                     3
Castle 5                                                                                    12
Castle 6                                                                                    22
Castle 7                                                                                     3
Castle 8                                                                                    26
Castle 9                                                                                    21
Castle 10                                                                                    8
Why did you choose your troop deployment?    I built a spreadsheet to test different strate...
Name: 1458, dtype: object